@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Regular.woff2') format('woff2') url('WixMadeforText-Regular.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Italic.woff2') format('woff2') url('WixMadeforText-Italic.woff') format('woff');
	font-weight: 1;
	font-style: italic;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Regular.woff2') format('woff2') url('WixMadeforText-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Italic.woff2') format('woff2') url('WixMadeforText-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Medium.woff2') format('woff2') url('WixMadeforText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-MediumItalic.woff2') format('woff2') url('WixMadeforText-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-SemiBold.woff2') format('woff2') url('WixMadeforText-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-SemiBoldItalic.woff2') format('woff2') url('WixMadeforText-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-Bold.woff2') format('woff2') url('WixMadeforText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-BoldItalic.woff2') format('woff2') url('WixMadeforText-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-ExtraBold.woff2') format('woff2') url('WixMadeforText-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Wix Madefor Text';
	src: url('WixMadeforText-ExtraBoldItalic.woff2') format('woff2') url('WixMadeforText-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}
